/*  
CSIS 1280 + Personal Project 
Seulah's Profile 
Author : Seulah Lee
Date: 2022-08-03

Filename : style.css
 */

/* Global */

:root 
{
/* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-violet: #c6abe8;
--color-pink: #efb5ec;
--color-light-pink: #efc9f4;
--color-blue: #9c98eb;
--color-sky-blue: #73aace;
--color-yellow: #fff7d1;
--color-orange: #feb546;
--color-navy: #3c4253;

--color-black: #000000;
--color-dark-grey: #4d4d4d;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-lighter-grey: #b3afb0;

/* Font size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

/* Font Weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

/* Size */
--size-border-radius: 8px;

/* Animation */
--animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typograpahy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out ;
  z-index: 1;
}

#navbar.navbar--dark {
  background: url('images/home.png') top/cover no-repeat;
}

#logo {
  width: 120px;
  margin-left: 20px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-violet);
}

.navbar__toggle-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('images/home.png') center/cover no-repeat;
  padding: 40px;
  padding-top: 250px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 10px 12px;
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */

.section {
  padding: 90px;
  margin: auto;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon:hover i{
  color: var(--color-light-pink);
  transform: rotate(-25deg) scale(1.2);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name, .job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* SKill */

#skills {
  background-color: var(--color-light-pink);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 35px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-blue);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools, .etc {
  padding: 20px;
}

.tools__list, .etc__list {
  font-size: var(--font-regular);
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-blue);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -25px;
  left: 5px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 45%;
  width: 30px;
  height: 3px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px auto;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 30px;
  width: 80%;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color:  var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-violet);
}

/* Education */
.bachelor, .postdiploma {
  background-color: var(--color-light-white);
  color: var(--color-dark-grey);
  margin-top: 20px;
  padding: 20px 40px;
  font-size: var(--font-regular);
}

.bachelor__degree,
.postdiploma__degree {
  display: flex;
  justify-content: space-between;
}


/* Contact */

#contact {
  background: url('images/home.png') top/cover no-repeat;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  color: var(--color-navy);
  transform: scale(1.2);
  transition: all var(--animation-duration) ease-in;
}

.contact__rights:hover {
  color: var(--color-navy);
  transform: scale(1.2);
}

/* Form Survey */

#survey {
  display: flex;
  flex-flow: row wrap;
  margin: 24px 0;
  color: var(--color-grey);
}

fieldset {
  background-color: var(--color-light-white);
  border: transparent;
  border-radius: var(--size-border-radius);
  flex: 1 1 300px;
  font-size: var(--font-regular);
  padding: 10px;
  margin: 10px;
}

input {
  font-size: var(--font-regular);
}

.formRow {
  display: flex;
  flex-flow: row wrap;
  margin: 12px 0;
}

.formRow > * {
  flex: 1 1 40%;
  border: transparent;
}

legend {
  background-color: var(--color-blue);
  font-size: var(--font-medium);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 5px 10px;
}

textarea {
  margin-top: 15px;
  height: 100px;
  width: 90%;
  border: transparent;
}

.buttons {
  text-align: center;
  width: 100%;
}

input[type='submit'], input[type='reset'] {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  border: transparent;
  border-radius: var(--size-border-radius);
}

input[type='submit']:hover, input[type='reset']:hover {
  background-color: var(--color-navy);
  color: var(--color-white);
  transform: scale(1.2);
  transition: all var(--animation-duration) ease-in;
}


/* Validation */
input:focus, select:focus, textarea:focus {
  background-color: var(--color-dark-white);
}

input#name:focus:valid,
input#mail:focus:valid {
  background: url(images/validation//valid.png) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#mail:focus:invalid {
  background: url(images/validation/invalid.png) bottom right/contain no-repeat;
}


/* Mobile & Tablet Styles : below 769px screen width  */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
